@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto de aplicação C# baseada em .NetCore MVC para fins acadêmicos.</p>

<address>
    <strong>Para mais informações </strong><a href="https://github.com/aarbex/SalesWebMvc">acesse meu Git Hub</a>
</address>
